/* color scheme here: https://colorhunt.co/palette/192310 */

body {
  background-color: #84a9ac;
  font-family: "Roboto", Verdana, Arial, Tahoma, sans-serif;
}

#wrapper {
  background-color: #e7dfd5;
  border: 2px solid #204051;
  border-radius: 30px;
  margin: 100px auto;
  max-width: 80%;
  padding: 50px;
  text-align: center;
}

h1 {
font-weight: 500;
text-align: center;
}

.question{
font-size: 30px;
margin-bottom: 10px;
}

.answers {
margin-bottom: 20px;
text-align: left;
display: inline-block;
}

.answers label{
display: block;
margin-bottom: 10px;
}

button{
font-size: 22px;
background-color: #279;
color: #fff;
border: 0px;
border-radius: 15px;
padding: 15px;
cursor: pointer;
margin-bottom: 20px;
}

button:hover{
background-color: #38a;
}

.slide{
position: absolute;
left: 0px;
top: 0px;
width: 100%;
z-index: 1;
opacity: 0;
transition: opacity 0.5s;
}
.active-slide{
opacity: 1;
z-index: 2;
}
.quiz-container{
position: relative;
height: 200px;
margin-top: 40px;
}

#quiz {
  font-weight: 400;
}

/* MODAL */
.modal-header, h4, .close{
  background-color: #84a9ac;
  color: #fff;
  text-align: center;
  font-weight: 400;
}

h2 {
  font-size: 3.2em;
  font-weight: 400;
}

#status, #results {
  font-weight: 300;
  font-size: 1.4em;
}
.modal-header, .modal-body {
  padding: 30px 40px;
  text-align: center;
}

/* BIO PAGE */
.col-sm {
background-color: #e7dfd5;
border-radius:10px;
margin:10px;
}

.lead, #bio {
  text-align: justify;
}

.container{
  text-align: center;
}

/* FOOTER */
#copyright {
padding: 10px;
background-color: lightgray;
text-align: center;
margin: 0;
}
